@import "modernizer";

$header: #788EEC;
$navButton: #2DCE4B;
$white: #fff;
$mainBG: #F6F7F9;
$dividerColor: #F1F2F3;
$linkHoverColor: #788EEC;
$linkColor: #323D47;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
  font-family: 'Roboto', sans-serif;
}

header {
  flex: none;
  position: relative;
  background: $header;
  border: 1px solid black;
  width: 100%;
  color: $white;
  padding: 2rem 2rem 3rem;

  nav li {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
  }

  .content{
    text-align: center;
  }

  .bottom-nav{
    background: $white;
    color: $linkColor;
    position: absolute;
    width: 60%;
    left: 20%;
    bottom: -10%;
    border: 1px solid red;
    border-radius: 2rem;
  }
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  background: $mainBG;
  padding: 2rem;

  .site-content {
    width: 25%;
    margin:2%;

    img{
      width: 100%;
    }
  }

  .pagination{
    width: 100%;
  }
}